<h1>Feed#index</h1>
<%= link_to "Voice messages", voice_messages_path %>
<br>
<% if user_signed_in? %>
  <h2>
    Welcome <%= current_user.email %>!
  </h2>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Log in', new_user_session_path %>
<br>
<%= link_to 'Sign up', new_user_registration_path %>
<% end %>
