<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @voice_message.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @voice_message.content %>
</p>

<h2>Comments</h2>
<% @voice_message.comments.each do |comment| %>
  <p>
    <strong><%= comment.author %> said: </strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@voice_message, @voice_message.comments.build]) do |f| %>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_voice_message_path(@voice_message) %> |
<%= link_to 'Back', voice_messages_path %>
