<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @voice_message.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @voice_message.content %>
</p>

<h2>Comments</h2>
<%= render @voice_message.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_voice_message_path(@voice_message) %> |
<%= link_to 'Back', voice_messages_path %>
