<!DOCTYPE html>
<html>
  <head>
    <title>Boisu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <div id="logo" class="navbar-brand">
              <%= link_to "Boisu", root_path %>
            </div>
          </div>

          <div id="nabvar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to 'My account', '#' %></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Log in', new_user_session_path %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="main" class="container">
      <!-- classes for devise messages -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div id="container" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>

    <!-- js stuff -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
